[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "afterglow-itermcolors"]
	path = afterglow-itermcolors
	url = https://github.com/yabatadesign/afterglow-itermcolors/
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/creationix/nvm.git
